[package]
authors = ["Daniel Vogelbacher <daniel@chaospixel.com>"]
edition = "2024"
name = "dnglab"
version = "0.6.3"
description = "Camera RAW to DNG file format converter"
license = "LGPL-2.1"
repository = "https://github.com/dnglab/dnglab"


# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
byteorder = "1"
anyhow = "1.0"
chrono = "0.4"
clap = { version = "4.4", features = ["cargo", "string"] }
fern = {version = "0.6", features = ["colored"]}
log = "0.4"
prettytable-rs = "^0.10"
rawler = {path = "../../rawler", features = ["clap"]}
embedftp = {path = "../../embedftp"}
image = "0.25"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_yaml = "0.8"
rayon = "1"
itertools = "0.13"
thiserror = "1.0.25"
tokio = { version = "1.43.1", features = ["full"] }
async-trait = "0.1.51"
futures = "0.3"
hex = "0.4.3"
dnglab_lib = { path = "dnglab-lib" }

[build-dependencies]
clap_mangen = "0.2.15"
clap_complete = "4.4.4"
dnglab_lib = { path = "dnglab-lib" }

[package.metadata.deb]
maintainer = "Daniel Vogelbacher <daniel@chaospixel.com>"
license-file = ["../../LICENSE", "0"]
extended-description = """\
Utility for converting digital camera RAW format files\
into Digital Negatives (DNG)."""
section = "graphics"
priority = "optional"
assets = [
    ["target/release/dnglab", "usr/bin/", "755"],
    ["manpages/*", "usr/share/man/man1/", "644"],
    ["completions/*.bash", "usr/share/bash-completion/completions/", "644"]
]

