name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.github/workflows/release.yaml'
  pull_request:

jobs:
  test:
    name: Rust ${{matrix.rust}}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        rust: [nightly, beta, stable, 1.58.0]
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{matrix.rust}}
      - run: cargo test
      - run: cargo check

  samplecheck:
    name: Testdata validation with Rust ${{matrix.rust}}
    runs-on: testdata-avail
    strategy:
      fail-fast: false
      matrix:
        rust: [1.58.0, stable, beta]
    env:
      RAWLER_RAWDB: /opt/rawdb2
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{matrix.rust}}
      - run: cargo test --release --features samplecheck

  windows_check:
    name: Windows check
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo check

  windows_artifact:
    name: Windows release artifact
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo build --release
      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: dnglab.exe
          path: 'target/release/dnglab.exe'

  linux_artifact:
    name: Linux release artifact
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@stable
      - run: cargo build --release
      - name: Upload build artifact
        uses: actions/upload-artifact@v2
        with:
          name: dnglab_x64
          path: 'target/release/dnglab'

#  clippy:
#    name: Clippy
#    runs-on: ubuntu-20.04
#    steps:
#      - uses: actions/checkout@v2
#      - uses: dtolnay/rust-toolchain@clippy
#      - run: cargo clippy --tests -- -Dclippy::all -Dclippy::pedantic -A clippy::module-name-repetitions

#  fmt:
#    name: Rustfmt
#    runs-on: ubuntu-20.04
#    steps:
#      - name: Checkout sources
#        uses: actions/checkout@v2
#      - name: Install stable toolchain
#        uses: dtolnay/rust-toolchain@stable
#      - name: Install rustfmt
#        run: rustup component add rustfmt
#      - name: Run cargo fmt
#        uses: actions-rs/cargo@v1
#        with:
#          command: fmt
#          args: --all -- --check
